@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Code+Latin:wght@100..700&family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* */@import url("fonts/stylesheet.css");
* {
  font-family: "Open Sans", sans-serif;
}

.page-description {
  background-color: rgb(26 76 79 / 0.8);
  text-align: center;
  padding: 20px 0 30px 0
}

.page-description h1 {
  margin-top: 0;
  color: #fff;
  font-weight: 100
}

.page-description p {
  max-width: 780px;
  margin: 0 auto;
  font-size: 15px;
  padding: 20px 0 10px 0;
  color: #fff
}

.page-description a {
  color: #fff
}


@layer base {
  body {
    font-family: "Open Sans", sans-serif;
  }
}
.pro-font-rgbold {
  font-family: "proxima_nova_rgbold", sans-serif;
}
.pro-font-thextrabold {
  font-family: "proxima_nova_thextrabold", sans-serif;
}

.pro-font-ltlight {
  font-family: "proxima_nova_ltlight", sans-serif;
}

.pro-font-rgregular {
  font-family: "proxima_nova_rgregular", sans-serif;
}
.pro-font-bold {
  font-family: "proxima_nova_bold", sans-serif;
}

.pro-font-ltsemibold {
  font-family: "proxima_nova_ltsemibold", sans-serif;
} 



@layer components {
  input[type="checkbox"]:checked~label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked~.dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked~.box span {
    @apply opacity-100;
  }
}
.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet-active
{
  color: #1c4c4e !important;opacity: 0.5;
}
.swiper-pagination-bullet-active
{
  background-color: #edefea !important;opacity: 0.5;
}

.specifications {
  /* background: url(../images/green-bg.jpg) repeat; */
  background-color: rgb(26 76 79 / 0.8);
  color: #fff;
  padding: 20px 0;
  margin-top: 60px
}

.specifications h1,.specifications h2,.specifications h3,.specifications h4,.specifications h5,.specifications p {
  color: #fff;
  font-weight: 400
}

/* .specifications h2 {
  font-size: 23px
} */

/* .specifications .col-md-4 {
  margin-top: 40px
}

.specifications table {
  margin-top: 40px
} */

.specifications table tr {
  border-bottom: 1px solid #579092
}

.specifications table tr td {
  padding: 10px 0
}

.specifications table tr:last-of-type {
  border-bottom: none
}

.description .descriptiontext.two-column {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 50px;
  column-gap: 50px
}

@media (max-width: 768px) {
  .description .descriptiontext.two-column {
      -moz-column-count:1;
      column-count: 1;
      -moz-column-gap: 0;
      column-gap: 0
  }
}
.related-news .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.related-showcase .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;height: 200px;}

  .related-product .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
  }
  
  

.nieuwsbriefinschrijving {
  background-color: #e5e5e5;
  margin-bottom: 15px
}

.nieuwsbriefinschrijving h2 {
  font-size: 42px
}

.nieuwsbriefinschrijving p {
  color: #00555a
}

.nieuwsbriefinschrijving ul {
  padding: 0;
  margin: 0;
  list-style: none
}

.nieuwsbriefinschrijving li {
  overflow: hidden;
  display: inline-block
}

.nieuwsbriefinschrijving li ul li {
  margin-right: 15px
}

.nieuwsbriefinschrijving label {
  float: left;
  font-size: 15px;
  color: #00555a;
  font-weight: 400;
  margin-right: 15px
}


.nieuwsbriefinschrijving input[type=email] {
  border-radius: 5px;
  border: transparent;
  background-color: #ccc;
  padding: 5px 25px;
  height: 35px;
  margin-top: 15px
}

.nieuwsbriefinschrijving input[type=submit] {
  border-radius: 5px;
  border: 2px solid #00555a;
  height: 35px;
  margin-top: 15px;
  color: #00555a
}

.nieuwsbriefinschrijving span {
  font-size: 15px;
  color: #00555a;
  font-weight: 400
}

.nieuwsbriefinschrijving .inschrijfformulier {
  padding-top: 15px
}

@media (max-width: 992px) {
  .nieuwsbriefinschrijving .inschrijfformulier li {
      width:100%
  }
}

.nieuwsbriefinschrijving form {
  margin-bottom: 5px
}

.nieuwsbriefinschrijving form>ul>li:nth-of-type(2) label {
  display: none
}

.nieuwsbriefinschrijving form>ul>li:first-of-type {
  display: block
}

.nieuwsbriefinschrijving form>ul>li:nth-of-type(2) {
  width: 65%;
  margin-right: 5%
}

.nieuwsbriefinschrijving form>ul>li:nth-of-type(2) input {
  width: 100%
}

.nieuwsbriefinschrijving form>ul>li:nth-of-type(3) {
  width: 30%
}

.nieuwsbriefinschrijving form>ul>li:nth-of-type(3) input {
  width: 100%
}

.nieuwsbriefinschrijving ::-webkit-input-placeholder {
  color: #00555a
}

.nieuwsbriefinschrijving :-moz-placeholder {
  color: #00555a
}

.nieuwsbriefinschrijving ::-moz-placeholder {
  color: #00555a
}

.nieuwsbriefinschrijving :-ms-input-placeholder {
  color: #00555a
}


footer {
  color: #00555a
}

footer h2 {
  color: #00555a;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 24px
}

footer h2 div {
  float: right;
  font-size: 14px;
  line-height: 20px
}

@media (max-width: 768px) {
  footer h2 {
      width:100%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center
  }
}

footer p {
  color: #00555a;
  float: left
}

@media (max-width: 768px) {
  footer p {
      float:none;
      text-align: center;
      padding: 5px 5%
  }
}

footer .social {
  margin-top: 15px;
  float: left;
  list-style: none;
  padding: 0
}

footer .social li {
  display: inline-block;
  /* font-size: 26px; */
  margin-right: 40px
}

@media (max-width: 768px) {
  footer .social {
      float:none;
      margin: 0 auto;
      margin-top: 15px;
      text-align: center
  }

  footer .social li {
      margin: 0 7px
  }
}

footer .row:last-of-type {
  padding: 15px 0 10px
}

footer hr {
  margin: 0;
  border-top: 1px solid #00555a
}

@media (max-width: 768px) {
  footer #menu-footermenu {
      float:none!important;
      text-align: center;
      margin: 0 auto
  }
}

footer .nav li {
  display: inline-block;
  padding-right: 10px
}

footer .nav li:before {
  position: absolute;
  margin-left: -10px;
  content: " - "
}

footer .nav li:first-child:before {
  content: ""
}

footer .nav li:last-child {
  padding-right: 0
}

footer .nav li a {
  padding: 0
}

footer .nav li a:hover {
  background: 0 0;
  text-decoration: underline
}

footer .nav li:last-of-type a:after {
  content: ""
}